        1. In the below elements which of them are Values or an expression? eg:- Values can be integer or string and expressions will be mathematical operators.
 
        * 	:- It is an Expression.
        'hello' :- It is an Value.
        -87.8 	:- It is an Value.
        -	:- It is an Expression.
        / 	:- It is an Expression.
        + 	:- It is an Expression.
        6 	:- It is an Value.

        2. What is the difference between string and variable?

            string : A string is a data type which store values in Single inverted comma (i.e. a='Aakash') or Double inverted comma (i.e. b="Aakash") in text format.

            variable : Variable are nothing but the name given to the storage area in the memory which store data in integer,string,boolean,float and complex number.

            Example : 

            a="Aakash"

            In the above Example, a is the name of the variable which store string value as "Aakash".

        3. Describe three different data types.

        i.string :  A string is a data type which store values in Single inverted comma (i.e. a='Aakash') or Double inverted comma (i.e. b="Aakash") in text format.

            Example :

In [10]:
        a='Aakash'
        b="Aakash"
        type(b)
        type(a)

str

        ii.int : A int is a data type which store positive number,0 and negative Number.

            Example :

In [4]:
        a=10
        type(a)

int

        iii.float : A float is a data type which store number in decimal point.

            Example:

In [5]:
        a=10.5
        type(a)

float

        iv.Boolean : A boolean is a data type which store values as True and False.

            Example :

In [6]:
        a=True
        b=False
        type(a)
        type(b)

bool

        v.Complex Number : Complex Number is the data type which is the combination of Real Number and Imaginary Number.Imaginary Number always denotes by letter 'j'.

            Example :

In [7]:
        a = 10 + 20j   # 10 is the Real Number whereas 20j is the Imaginary Number.
        type(a)

complex

        4. What is an expression made up of? What do all expressions do?

            An expression is made up of combination of the operators,values and variables.The Use of Expression is that the interpreter evaluates the expression and displays the result.

            Example :

In [11]:
            a = 5             # a is the variable name whereas 5 is the integer value.
            b = 10            # b is the variable name whereas 10 is the integer value.
            sum = a + b       # sum is the variable name which store the Expression(Addition).
            print("Addition Of two Number is "+str(sum)+".")

Addition Of two Number is 15.

        5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

            The assignment statements is used to assign a value to the variable where as the expression evaluates the value of a variable.
            In spam = 10 , Integer value 10 is assigned to a variable name spam.
            But in expression sum = a+b, the value of a sum variable depends upon the value of a and b.

        6. After running the following code, what does the variable bacon contain?
        
        bacon = 22
        bacon + 1

        The Variable bacon will contain value as 22,because the increment operator is wrong it should be bacon+=1 or bacon=bacon + 1.
        So the value for bacon will not changed and it will be 22.

        Example :

In [18]:
            bacon = 22
            a = bacon + 1
            print("a = " + str(a))
            print('bacon = '+str(bacon))

a = 23
bacon = 22

        7. What should the values of the following two terms be?
        
        'spam' + 'spamspam'
        'spam' * 3

        The values for both the expression will be same.

        Examples :

In [22]:
        'spam' + 'spamspam'

'spamspamspam'

In [23]:
        'spam' * 3

'spamspamspam'

        8. Why is eggs a valid variable name while 100 is invalid?

        Variable name in python start with characters or underscore and not with Number.

        Examples :

In [28]:
        eggs=5
        _eggs=10
        print(eggs)
        print(_eggs)

5
10

In [25]:
        100="Aakash"
        100

SyntaxError: cannot assign to literal (Temp/ipykernel_8756/3481255616.py, line 1)

        9. What three functions can be used to get the integer, floating-point number, or string version of a value?

        i. int()    will convert value in Integer
        ii. float()  will convert value in Float
        ii. str()    will convert value in string

        Examples :

In [39]:
# i.
a=10.5
int(a)

10

In [41]:
# ii.
b=7
float(b)

7.0

In [42]:
# iii.
c=100
str(c)

'100'

        10. Why does this expression cause an error? How can you fix it?
        'I have eaten ' + 99 + ' burritos.'

        This will give error because we cannot concatenate string value with integer value.To fix this error we will convert 99 into string format.

        Example :

In [43]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [44]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'