    1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
    file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system'
file = open('test.txt', 'w')
file.write(test1)
file.close()

    2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
    and test 2?

In [ ]:
file = open('test.txt','r')
print(file.read(),'\n')
print(test1)

--> There is no change in variable test1 and test2.

    3. Create a CSV file called books.csv by using these lines:
    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992

In [ ]:
data="""
    title,author,year\n
    The Weirdstone of Brisingamen,Alan Garner,1960\n
    Perdido Street Station,China Miéville,2000\n
    Thud!,Terry Pratchett,2005\n
    The Spellman Files,Lisa Lutz,2007\n
    Small Gods,Terry Pratchett,1992
"""

file = open('books.csv', 'w')
file.write(data)
file.close()

In [ ]:
file = open("books.csv",'r')
for i in file:
    print(i)

    4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
    these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('Create Table books (title text, author text, year int)')

    5. Read books.csv and insert its data into the book table.

In [ ]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

    6. Select and print the title column from the book table in alphabetical order.

In [ ]:
cursor.execute('Select Title from books Order By title Asc')
cursor.fetchall()

    7. From the book table, select and print all columns in the order of publication.

In [ ]:
cursor.execute('Select * from books Order By year')
cursor.fetchall()

    8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
    exercise 6.

In [ ]:
import sqlalchemy
conn = sqlalchemy.create_engine("sqlite:///books.db")
rows = conn.execute('select * from books')
for i in rows:
    print(i)

    9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
    Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
    test.

In [ ]:
! pip install redis

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test') 
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

    10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 5)